.navBar,
.scrollNavActive {
    max-width: 3000px;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1001;
    transition: 0.5s;

    .navCont {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .logo {
            // width: 200px;
            height: 100%;
            display: flex;
            // flex-direction: column;
            // justify-content: center;
            justify-content: flex-start;
            align-items: flex-start;
            // padding-left: 18px;
            background-color: red;
            img{
                // height: 120px;
                // height: 100%;
                // width: 100%;
                position: absolute;
                // top: -30px;
                // left: 17px;
            }

            span:nth-child(1) {
                letter-spacing: 5px;
                padding-top: 3px;
                padding-left: 8px;
                color: #002D62;
            }

            span:nth-child(2) {
                font-size: 40px;
                letter-spacing: 7px;
                color: white;
            }

            h4 {
                color: white;
            }

        }

        .burgerNavigationBar {
            background-color: rgb(247, 246, 246);
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 332px;
            box-shadow: 0px 5px 10px 2px rgba(22, 25, 27, 0.2);

            .navBarMenuBurger {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;

                ul {
                    width: 100%;
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-block-start: 0;
                    margin-block-end: 0;
                    padding-inline-start: 0;

                    .menuLink {
                        width: 100%;
                        border-bottom: 2px solid gainsboro;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 50px;
                        a {
                            width: 100%;
                            color: black;
                            &:hover {
                                color: #1F75FE;
                            }
                            li {
                                width: 100%;
                            }
                        }
                    }

                    a {
                        text-decoration: none;
                    }
                }
            }

        }

        .navBarMenu {

            ul {
                width: 100%;
                list-style-type: none;
                display: flex;
                gap: 20px;
                padding-right: 18px;

                a {
                    text-decoration: none;
                    color: white;
                    letter-spacing: 2px;

                    &:hover {
                        color: #1F75FE;
                    }
                }

                .ant-select-single .ant-select-selector {
                    font-size: 12px;
                }

            }
        }

    }
}

.scrollNavActive {
    transition: 0.5s;
    padding: 10px 0;
    background-image: linear-gradient(111.4deg, rgba(7, 7, 9, 1) 6.5%, rgba(27, 24, 113, 1) 93.2%);
}

@media only screen and (min-width: 1024px) {
    .navCont {

        .burgerOpen,
        .burgerFalse {
            display: none;
        }

        .burgerNavigationBar {
            top: -350px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .navBarMenu {
        display: none;
    }

    .navCont {
        .burgerNavigationBar {
            right: 20%;
            left: 20%;
            background-color: rgb(247, 246, 246);
            position: absolute;
            top: -350px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.6s;
            height: 332px;
            &.navStikyBurger {
                top: 70px;
            }
        }

        .burgerOpen,
        .burgerFalse {
            display: block;
            color: white;
            font-size: 20px;
            padding-right: 18px;
            transition: 0.5s;
            cursor: pointer;
        }
    }

}

@media only screen and (min-width: 465px) {
    .navCont{

        img{
            height: 120px;
            top: -30px;
                    left: 17px;
        }
    }
}

@media only screen and (max-width: 465px) {

    .navCont {
        .burgerNavigationBar {
            right: 0;
            left: 0;
        }
        img{
            height: 70px;
            // height: 100%;
            // width: 100%;
            position: absolute;
            top: -5px;
            left: 17px;
        }
    }
}