footer {
    width: 100%;
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
    padding: 10px 0 0 0;

    .footerCont {
        width: 95%;
        margin: 0 auto;

        div {
            ul {
                list-style-type: none;
                list-style: none;

                a {
                    text-decoration: none;
                }
            }
        }

        .footerContact {

            .contactCall {
               width: 100%;
               padding-inline-start: 0;
                li {
                    color: rgb(235, 226, 226);
                    list-style-type: none;
                    span {
                        color: rgb(235, 226, 226);
                        font-size: 13px;
                    }
                }
            }

            .contactSocial {
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding-inline-start: 0;

                li {
                    div {
                        width: 30px;
                        height: 30px;
                        border: 1px solid white;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        a{
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                        }
                        svg {
                            color: white;
                        }
                        &:hover{
                            border: 1px solid rgb(55, 55, 224)
                        }
                        &:hover svg{
                            color: rgb(55, 55, 224)
                        }
                    }
                }
                li:nth-child(2){
                    div:hover{
                        border: 1px solid #C13584
                    }
                    div:hover svg{
                        color: #C13584;
                    }
                }
                li:nth-child(3){
                    div:hover{
                        border: 1px solid #25D366;
                    }
                    div:hover svg{
                        color: #25D366;
                    }
                }
            }
        }
        .footerMenu{
            ul{
                padding-inline-start: 0;

                li{
                    padding: 3px 0;
                    letter-spacing: 2px;
                    a{
                        color: rgb(235, 226, 226);
                        &:hover{
                            color: #1F75FE;
                        }
                    }
                }
            }
        }
    }
    .footerEnd{
        width: 100%;
        height: 60px;
        border-top: 1px solid gray;
        div{
            width: 90%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            color: rgb(235, 226, 226);
            font-size: 13px;
        }
    }
}
@media only screen and (min-width: 860px) {
    .footerCont {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
// TABLEETS SCREEN
@media only screen and (max-width: 860px) {
    .footerCont {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        .location{
            width: 100%;
            iframe{
                width: 100%;
            }
        }
    }
}
// MOBILE SCREEN
@media only screen and (max-width: 465px) {
    .footerCont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .location{
            width: 100%;
            iframe{
                width: 100%;
            }
        }
    }
}