$sectionBackground: #F5F5F5;
$titleColor: #4B4B73;

main {
    max-width: 3000px;
    width: 100%;
    background-color: $sectionBackground;
    overflow: hidden;
    position: relative;
    section {
        .sectionName {
            color: $titleColor;
            font-size: 40px;
            text-transform: uppercase;
            margin-block-end: 40px;
        }
    }

    .fadeUp {
        position: fixed;
        width: 40px;
        height: 40px;
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        right: -40px;
        bottom: 50px;
        transition: 1s;
        z-index: 2222;
        cursor: pointer;

        &.activeArrowUp {
            right: 40px;
        }

        svg {
            color: white;
            font-size: 45px;
        }

        &:hover {
            background-color: black;
        }
    }
}